name: Redeem from Telegram

on:
  repository_dispatch:
    types: [redeem]

jobs:
  redeem:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Run redeem script
        env:
          USER_SESSION: ${{ secrets.USER_SESSION }}
          REDEEM_TEXT: ${{ github.event.client_payload.redeem_text }}
        run: |
          python Incudal/redeem.py

      - name: Callback to TG
        if: always()
        run: |
          CALLBACK="https://tg-github-bot.greenwave1987.workers.dev/callback"
          CHAT_ID="${{ github.event.client_payload.chat_id }}"
          TEXT=$(cat result.txt)

          jq -Rn \
            --arg chat_id "$CHAT_ID" \
            --arg text "$TEXT" \
            '{chat_id:$chat_id,text:$text}' \
          | curl -s -X POST "$CALLBACK" \
              -H "Content-Type: application/json" \
              -d @-
